
<%- include("partials/header"); -%>


    <h2><%=title%></h2>
    <p class="para"><%=content%></p>
<div class="d-flex justify-content-center">
    <form action="" method="POST">
    <button class="btn bt">Delete</button>
    
</form>
</div>


<%- include("partials/footer"); -%>
